@model AdScoreShow.Models.UploadCsvFileViewModel

@{
    ViewBag.Title = "NewFileProcessing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please, upload a CSV file to seed database</h2>


@using (Html.BeginForm("NewFileProcessing", "FileProcessing", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UpLoadedCsvFile)
            <div>
                @Html.TextBoxFor(model => model.UpLoadedCsvFile, "", new { @type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UpLoadedCsvFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Process the CSV File" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
